@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

body {
  font-family: 'Baloo 2', cursive;
  font-weight: 500;
}